.cha-header-clip {
    @apply absolute inset-0 pointer-events-none z-30;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.cha-header {
    pointer-events: auto;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.cha-nav-link {
    opacity: var(--nav-link-opacity);
    color: var(--nav-link-color);
    &:hover {
        @apply opacity-100;
     }
}
.cha-nav-link-underline {
    background: var(--nav-link-decoration-background);
}
.cha-nav-button {
    background: var(--nav-button-background);
    color: var(--nav-button-color);
}
