.cha-header {
    pointer-events: auto;
    backface-visibility: hidden;
    transform: translateZ(0);
    @apply bg-white hidden;
}

.cha-header-shadow {
    background: var(--header-shadow-visibility);
}

.cha-main-header .cha-header {
    @apply block;
}

.cha-nav-link {
    opacity: var(--nav-link-opacity);


    &:hover {
        @apply opacity-100;
    }
}

.cha-nav-button {
    background: var(--nav-button-background);
    color: var(--nav-button-color);
    @apply border border-gray-100
}

@screen md {
    .hp-header {
        height: calc(100vh - theme('height.32'));
    }
    .cha-header {
        @apply block;
        background: var(--header-background);
    }

    .logo-color {
        visibility: var(--logo-color-visibility)
    }

    .logo-white {
        visibility: var(--logo-white-visibility)
    }

    .cha-nav-button {
        @apply border-none
    }

    [data-cha-section] .cha-header {
        display: block;
    }
}

.hamburger {
    @apply relative;

    &-inner {
        top: 50%;
        margin-top: -1px;
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-duration: .22s;

        &,
        &:before,
        &:after {
            @apply absolute w-full bg-gray-600;
        }

        &:before,
        &:after {
            content: '';
            height: inherit;
            background: inherit;
            @apply block;
        }

        &:before {
            transition: top .1s ease-in .25s, opacity .1s ease-in;
            top: -300%;
        }

        &:after {
            transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
            bottom: -300%;
        }
    }

    &.is-active {
        .hamburger-inner {
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
            transform: rotate(225deg);

            &,
            &:before,
            &:after {
                @apply bg-white;
            }

            &::before {
                top: 0;
                transition: top .1s ease-out, opacity .1s ease-out .12s;
                opacity: 0;
            }

            &::after {
                bottom: 0;
                transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
                transform: rotate(-90deg);
            }
        }
    }
}

.menu-transition {
    transition: transform cubic-bezier(.22, .68, 0, 1.15) 200ms, opacity ease-in-out 100ms;
}
