:root {
    --logo-color-visibility: visible;
    --logo-white-visibility: hidden;
    --header-shadow-visibility: linear-gradient(180deg, theme('colors.gray.600') 0%, transparent 80%);
    --header-background: theme('colors.white');
    --nav-link-color: theme('colors.gray.900');
    --nav-link-opacity: theme('opacity.75');
    --nav-link-decoration-background: linear-gradient(to right, theme('colors.blue.500'), theme('colors.green.500'));
    --nav-button-background: linear-gradient(to right, theme('colors.blue.500'), theme('colors.green.500'));
    --nav-button-color: theme('colors.white');
}

[data-theme="dark"] {
    --logo-color-visibility: hidden;
    --logo-white-visibility: visible;
    --header-shadow-visibility: transparent;
    --header-background: transparent;
    --nav-link-color: theme('colors.white');
    --nav-link-opacity: theme('opacity.75');
    --nav-link-decoration-background: theme('colors.white');
    --nav-button-background: theme('colors.white');
    --nav-button-color: theme('colors.green.500');
}

[data-theme="light"] {
    --logo-color-visibility: visible;
    --header-shadow-visibility: linear-gradient(to bottom, theme('colors.gray.900') 1px, #fff 1px);
    --header-background: transparent;
    --nav-link-color: theme('colors.white');
    --nav-link-opacity: theme('opacity.75');
    --nav-link-decoration-background: theme('colors.white');
    --nav-button-background: theme('colors.white');
    --nav-button-color: theme('colors.green.500');
}

body, html {
    @apply h-full;
}
