
.wysiwyg-content {

    > :last-of-type {
        margin-bottom: 0 !important;
    }

    p {
        @apply mb-4;
    }

    ul {
        @apply mb-4;
        li {
            @apply pl-4 relative;

            &:before {
                content: "";
                margin-top: 0.60em;
                @apply mr-3 w-2 h-2 bg-gradient-r-blue-green rounded-full absolute left-0;
            }
        }
    }

    li {
        @apply mb-1;
    }

    h2{
        @apply mb-2 text-base font-bold text-black
    }

    h3{
        @apply mb-2 text-base font-semibold text-green-500
    }

    h4{
        @apply mb-2 text-base leading-tight font-semibold text-black
    }

    a {
        @apply text-green-500;
    }

    @screen md {
        h2{
            @apply mb-4 text-2xl;
        }

        h3, h4{
            @apply mb-4 text-lg
        }

        p {
            @apply mb-5;
        }

        ul {
            @apply mb-5;
        }
    }
    @screen xl {
        h2{
            @apply mb-4 text-3xl;
        }
        h3, h4{
            @apply mb-4 text-xl;
        }
        p {
            @apply mb-8;
        }

        ul {
            @apply mb-8;
        }
    }
}
