@import "tailwindcss/base";

@import "tailwindcss/components";

@import "./components/index.css";

@import "tailwindcss/utilities";

@responsive {
    .cha-header-clip {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .cha-nav-link-color {
        color: var(--nav-link-color);
    }

    .cha-nav-link-underline {
        background: var(--nav-link-decoration-background);
    }
}

.translate-z-0 {
    transform: translateZ(0);
}

.will-change-transform {
    will-change: transform;
}

.backface-visibility-hidden {
    backface-visibility: hidden;
}

/* page transition for whole layout */
.fade-enter-active {
    transition: opacity .3s, transform .5s;
}

.fade-enter {
    @apply opacity-0 transform translate-y-3;
}